<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ISU_V2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B7FDB76F216887F000C0CCF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B7FDB783216887F100C0CCF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B7FDB78E216887F100C0CCF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
